In [5]:
#predict the output
class python:
   def fun(self):
         print("welcome to oops concept")
pyt=python()
pyt.fun()

welcome to oops concept

In [19]:
class car:
    'common_car'
    car=0
    def __init__(self,name,id):
       self.name=name
       self.id=id
       car.car+=1
    def printcardata(self):
        print("name:",self.name,"id:",self.id)
c=car("AUDI",20000000)
c.printcardata()

name: AUDI id: 20000000

In [14]:
class Employee:
  def set_data(self,n,a,s):
      self.name=n
      self.age=a
      self.salary=s
  def display_data(self):
      print(self.name,self.age,self.salary)

In [18]:
e1=Employee()
e1.set_data("xxxxx",26,30000)
e1.display_data()

xxxxx 26 30000

In [40]:
class Bird:
    'common_Bird'
    Bird=0
    def __init__(self,name,id):
       self.name=name
       self.id=id
       Bird.Bird+=1
    def printBirddata(self):
        print("name:",self.name,"color:",self.id)
c=Bird("parrot","green")
c.printBirddata()

name: parrot color: green

In [ ]:
calss Number:
def __init__(self,n):
    self.number=n
    def check_num(self):
        if self.number>0:
            print("positive")

In [50]:
class Test:
    x=10
    def __init__(self):
        print("hello")
t=Test()
print(Test.x)

hello
10

In [52]:
class car:
    'common_car'
    car=0
    def __init__(self,name,id):
       self.name=name
       self.id=id
       car.car+=1
    def printcardata(self):
        print("name:",self.name,"id:",self.id)
c1=car("AUDI",20000000)
c2=car("BENZ",30000000)
c3=car("BMW",10000000)
print("total cars:",car.car)
c1.printcardata()
c2.printcardata()
c3.printcardata()

total cars: 3
name: AUDI id: 20000000
name: BENZ id: 30000000
name: BMW id: 10000000

In [54]:
class test:
    def __init__(self):
        self.variable='car'
        self.change(self.variable)
    def change(self,var):
        var='bike'
obj=test()
print(obj.variable)

car

In [3]:
class car:
    def speed(self):
        print("100km")
class audi(car):
    def engine(self):
        print("engine is powerful")
c=audi()
c.engine()
c.speed()

engine is powerful
100km

In [14]:
#overriding
class animal:
    def sound(self):
        print("some generic sound")

class dog(animal):
  def sound(self):
    print("bark")
class cat(animal):
  def sound(self):
    print("meow")
dog=dog()
cat=cat()
dog.sound()
cat.sound()

bark
meow

In [14]:
class Calulator:
  def add(num1,num2):
        self.num1=num1;
        self.num2=num2;
        return self.num1+self.num2
  def sub (self,num1,num2):
     return num1-num2;
    class advancedcalulator(calulator):
      def mul(self,num1,num2):
       print("multiplication:",num1*num2)
      def div(self,num1,num2):
       return num1//num2;
x=advancedcalculator()
num1=int(input())
num2=int(input())
print("addition :%d"%(x.add(num1,num2)))
print("subtraction:",xsub(num1,num2))
x.mul(num1,num2)
print("floor division:%d"%(x.div(num1,num2)))

IndentationError: unindent does not match any outer indentation level (<string>, line 8)